@media only screen and (min-width: 32.5em){
    .menu{
        display: flex;
    }

    header img{
        width: 80px;
        height: auto;
    }

    .headings h1{
        font-size: 2rem;
    }

    .hamburger{
        display: none;
    }

    footer{
        margin: 10px;
        flex-direction: row;
        width: 100%;
    }

    /*Lesson08*/
    .nav a:active{
        background-color: white;
    }

    .nav a:hover{
        background-color: #89c4dd;
        color: white;
    }
    
    .current {
        background:#89c4dd;
      }

    /*Lesson 09*/
    article {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        display: grid;
          grid-template-columns: 1fr 1fr;
      }
      
      article:nth-child(odd) img {
          grid-column: 2;
      }
      
      article:nth-child(odd) .data {
          grid-column: 1;
          grid-row: 1;
      }
}