header, 
footer {
    border: 1px solid orange;
    background-color: orange;
}

body {
    align-items: center;
    padding: 2rem;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}

header img {
    padding: 1rem;
    float: right;
    width: 200px;
    height: auto;
}
