header {
    background-color: #0066ff;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img{
    width: 50px;
    height: auto;
}

body{
    font-family: 'Montserrat', sans-serif;
}

main{
    text-align: center;
}

p{
    justify-content: center;
    background-color: beige;
    padding: 25px;
    margin: 20px;
}

.headings {
    display: flex;
    flex-direction: column;
}

.headings h1{
    font-size: 2em;
    margin: 0 0 0 15px;
}

.motto{
    font-style: italic;
    color: white;
    margin-left: 20px;
    font-size: 1.2rem;
}

.nav{
    overflow: hidden;
    background-color: lightblue;
    position: relative;
}

.menu{
    overflow: hidden;
    display: none;
}

.menu li{
    list-style: none;
    text-decoration: none;
    flex: 1;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    line-height: 1.5rem;
    margin: 5px;
}

.menu a{
    color: black;
    justify-content: space-between;
    text-align: center;
    list-style-type: none;
    flex-direction: row;
    align-items: center;
    display: block;
}

.active{
    display: block;
    padding: 0px;
}

a.link, a.current{
    padding: 5px;
}

.nav a.icon{
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.hamburger{
    display: none;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

footer {
    margin: 10px;
    color: white;
    background-color: #0066ff;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hamburger{
    display: block;
    cursor: pointer;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.header img{
    width: 120px;
    height: auto;
}

/*Lesson05*/

img[data-src]{
    filter: blur(0.25em);
}

div.gallery{
    border: 1px solid black;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    filter: blur(0em);
    transition: filter 0.5s;
}

.desc{
    display: none;
}

div.gallery img{
    width: 100%;
    height: auto;
}

div.desc{
    padding: 10px;
    text-align: center;
}

div.overall-gallery{
    display: grid;
    grid-template-columns: 1fr;
}