@media only screen and (min-width: 50em){
    img{
        position: absolute;
        float: left;
        width: 100px;
        height: auto;
        margin: 10px;
    }

    .navbar{
        max-width: 50%;
        text-align: center;
        justify-content: center;
        display: flex;
        list-style-position: inside;
    }

    .navbar li{
        position: relative;
    }

    ul{
        margin: 0 auto;
    }
}