h1{
    display: block;
    text-align: center;
}

main{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

div{
    text-align: center;
    line-height: 1.5;
    padding: 10px;
    margin: 10px;
}

img{
    position: relative;
    float: left;
    width: 100px;
    height: auto;
    margin: 5px;
}

.list{
    justify-content: center;
    list-style-position: inside;
}

.list li{
    padding: 5px;
}
.navbar{
    align-items: center;
    list-style-type: none;
    text-align: center;
    justify-content: center;
    display: inline-block;
    list-style-position: inside;
}

.navbar li{
    
    padding: 10px;
    flex: 1;
    text-align: center;
    justify-content: center;
    position: relative;
    margin: 5px;
    background-color: lightseagreen;
}

a:link{
    color: black;
}

a:visited{
    color: black;
}

.color1{
    color: white;
    height: auto;
    width: 200px;
    background-color: #0066ff;
    padding: auto;
    margin: auto;
}

.color2{
    height: auto;
    width: 200px;
    background-color: #ffbf00;
    padding: auto;
    margin: auto;
}