@media only screen and (min-width: 60em){
    .menu{
        display: flex;
        position: fixed;
        left: -100%;
        top: 5rem;
        border-radius: 10px;
        justify-content: space-between;
        width: 100%;
        transition: 0.3s;
        box-shadow: 
            0 10px 30px rgba(0, 0, 0, 0.05);
    }

    .hamburger{
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .headings h1{
        font-size: 3rem;
    }

    .header img{
        width: 120px;
        height: auto;
    }

}