@media only screen and (min-width: 60em){
    .menu{
        display: flex;
        position: fixed;
        top: 5rem;
        border-radius: 10px;
        justify-content: space-between;
        width: 100%;
        transition: 0.3s;
        box-shadow: 
            0 10px 30px rgba(0, 0, 0, 0.05);
    }
}