header {
    background-color: #0066ff;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img{
    width: 50px;
    height: auto;
}

.headings {
    display: flex;
    flex-direction: column;
}

.headings h1{
    font-size: 1.5rem;
    margin: 0 0 0 15px;
}

.motto{
    font-style: italic;
    color: #ffbf00;
    margin-left: 20px;
    font-size: 1rem;
}

.nav{
    overflow: hidden;
    background-color: #0066ff;
    position: relative;
}

.nav #links{
    display: none;
}

.nav a{
    color: black;
    padding: 12px 14px;
    font-size: 13px;
    display: block;
}

.nav a.icon{
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.topnav a:hover{
    background-color: #ffbf00;
    color: black;
}

.active{
    background-color: #ffbf00;
    color: black;
}