h1{
    text-align: center;
}

img[data-src]{
    filter: blur(00.25em);
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    padding: 10px;
    filter: blur(0em);
    transition: filter 0.5s;
}